/* -------------RESET------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------REEGOLE GENERALI--------- */

.flex{
    display: flex;
}

.hidden{
    display: none;
}

.flex-grow{
    flex-grow: 1;
}

i:hover{
    cursor: pointer;
}

.align-center{
    text-align: center;
}

:root{
    --my-gray-color: #b0b0b2;
    --my-darkgray : #988c83;
    --margin-05: 0.5rem;
    --active-message: #dcdcdc;
    --background-color: #eaeaea;
}

/* ------------REGOLE CSS------------ */

body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    background: rgb(0, 151, 136);
    background: linear-gradient(180deg, rgba(0, 151, 136, 1) 20%, rgba(214, 219, 213, 1) 20%);
    justify-content: center;
    align-items: center;
}

input:focus-visible{
    outline: 1px solid var(--my-darkgray);
    border-radius: 5px;
}

.main-section{
    height: 95vh;
    width: 90vw;
}

section section.my-messages-list{
    width: 35%;
    height: 100%;
    border: 0.5px solid var(--active-message);
}

section section.my-chat {
    width: 65%;
    height: 100%;
    border: 0.5px solid var(--active-message);
}

/* REGOLE MY-MESSAGES-LIST --> HEADER */

section section.my-messages-list header{
    height: 20%;
}

section.user{
    background-color: var(--background-color);
    height: 50%;
    justify-content: space-between;
    align-items: center;
}

section.user div,
section.user-chat div{
    height: 100%;
    align-items: center;
    margin-left: var(--margin-05);
}

section.user div:last-child,
section.user-chat > div:last-child{
    color: var(--my-gray-color);
}

section.user div:last-child > i,
section.user-chat div:last-child > i{
    margin-right: 0.6rem;
}

section.user div img,
section.user-chat div img{
    height: 80%;
    border-radius: 50%;
}

section.user div h4{
    margin-left: var(--margin-05);
}

section.notifications{
    background-color: #8edafc;
    height: 50%;
    display: flex;
    align-items: center;
}

section.notifications i{
    border-radius: 50%;
    background: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #8edafc;
    margin-left: var(--margin-05);
}

section.notifications div{
    margin-left: var(--margin-05);
}

section.notifications div > *{
    font-size: 0.8rem;
}

section.notifications a {
    color: #988c83;
}

/* REGOLE MY-MESSAGES-LIST --> MAIN */

section.my-messages-list main{
    background-color: rgb(243, 243, 243);
    height: 80%;
}

section.my-messages-list main > div{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.my-messages-list #lens{
    line-height: 30px;
    color: var(--my-gray-color);
    background-color: white;
    border-radius: 5px 0 0 5px;
    padding-left: 2px;
}

section.my-messages-list main > div > div:nth-child(2){
    width: 90%;
    border-radius: 0 5px 5px 0;
    padding-left: var(--margin-05);
    background-color: white;
}

section.my-messages-list main > div > div > input{
    width: 100%;
    line-height: 30px;
    border: none;
    padding-left: var(--margin-05);
}

section.my-messages-list main > section{
    height: 90%;
    overflow-y: auto;
}

div.message{
    /* background-color: rgb(247, 247, 247); */
    height: calc(100% / 7);
    align-items: center;
    padding-top: 4px;
    border-bottom: 1px solid var(--active-message);
    position: relative;
}

div.message:hover{
    background-color: #eaeaea;
}

div.message.active{
    background-color: var(--active-message);
}

div.message div{
    margin-left: var(--margin-05);
    align-self: flex-start;
}

div.message div > p{
    color: var(--my-darkgray);
    font-size: 0.8rem;
}

img.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: var(--margin-05);
}

div.time{
    position: absolute;
    top: 5px;
    right: 9px;
    font-size: 0.75rem;
    color: var(--my-gray-color);
}

/* REGOLE MY-CHAT --> HEADER */
section section.my-chat header,
section section.my-chat footer{
    height: 10%;
    background-color: var(--background-color);
}

section.user-chat {
    background-color: var(--background-color);
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

section.user-chat div > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section.user-chat div > div p{
    color: var(--my-darkgray);
    font-size: 0.8rem;
}

/* REGOLE MY-CHAT --> MAIN */
section section.my-chat main{
    height: 80%;
    background-image: url("../img/mine.jpg");
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

div.single-msg{
    padding: 5px 25px 12px 10px;
    min-width: 35%;
    max-width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    position: relative;
}

div.sent{
    background-color: #d5f9bb;
    align-self: flex-end;
}

div.received{
    background-color: aliceblue;
    align-self: flex-start;
}

span.chat-time{
    position: absolute;
    color: var(--my-gray-color);
    bottom: 2px;
    right: 5px;
    font-size: 0.6rem;
}

#icon-delete{
    display: none;
    position: absolute;
    color: var(--my-gray-color);
    top: 2px;
    right: 7px;
}

div.single-msg:hover #icon-delete{
    display: inline-block;
}

#menu-delete-message{
    position: absolute;
    background: white;
    border: 1px solid var(--active-message);
    padding: 10px;
    border-radius: 3px;
    top: 60%;
    right: 15px;
    z-index: 1;
    cursor: default;
}

#menu-delete-message:hover{
    background-color: var(--background-color);
}

/* REGOLE MY-CHAT --> FOOTER */
section.my-chat footer{
    justify-content: space-around;
    align-items: center;
    color: var(--my-gray-color);
}

section.my-chat footer div:nth-child(2) {
    width: 80%;
}

section.my-chat footer div input{
    width: 100%;
    line-height: 35px;
    border: none;
    border-radius: 5px;
    padding-left: var(--margin-05);
    font-size: 0.8rem;
}

section.my-messages-list main>div input::placeholder,
section.my-chat footer div input::placeholder{
    font-size: 0.7rem;
}